<tr>
    <td>1</td>
    <td>userName</td>
    <td>123@mail.com</td>
    <td>male</td>
    <td>123456789</td>
    <td>2254777</td>
    <td>8888888</td>
    <td>madurai</td>
    <td>
        <a href="" class="btn border-shadow update">
            <span class="text-gradient"><i class="fa-solid fa-pen"></i></span>
        </a>
        <a href="" class="btn border-shadow update">
            <span class="text-gradient"><i class="fa-solid fa-trash"></i></span>
        </a>
    </td>
</tr>